fastapi==0.115.12
openai==1.72.0
pydantic==2.11.3
python-decouple==3.8
python_jose==3.3.0
SQLAlchemy==2.0.36
pymysql
python-dotenv
bcrypt
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
uvicorn[standard]
python-multipart